{% extends "base.html" %}
{% load static %}
{% block title %}
  About
{% endblock title %}

{% block content %}
        <!-- about -->
        <div class="about" id="about">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="titlepage">
                        <h2>About <span class="red"> Store</span></h2>
                     </div>
                  </div>
               </div>
            
                     <div class="row">
                        <div class="col-md-12">
                           <div class="about_box ">
                              <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of </p>
                              <a class="read_more" href="#">Read more</a>
                           </div>
                       
                  </div>
               </div>
            </div>
         </div>
         <!-- end about -->
{% endblock content %}