{% extends "base.html" %}
{% load static %}
{% block title %}
  Contact
{% endblock title %}

{% block content %}
  <!-- talk -->
  <div id="talk" class="talk">
    <div class="container">
       <div class="row ">
          <div class="col-md-6 ">
             <div class="wines">
                <h3>Let’s talk for wines</h3>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem  ere, content here', making itIt is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem  ere, content here', making it</p>
                <h3>Free Multipurpose <br>
                   Responsive Landing Page 2019</h3>
             </div>
          </div>
          <div class="col-md-6 " id="form">
             <form class="main_form " method="post" action="{% url 'contact' %}#form" id="contactForm">
               {% if messages %}
                     <div id="ho">
                       {% for message in messages %}
                         <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                           <strong>Message :</strong>{{message}}.
                           <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                         </div>
                       {% endfor %}
                     </div>
                       
               {% endif %}

               {% csrf_token %}
                <div class="row">
                   <div class="col-md-12 ">
                      <input class="form_contril" placeholder="Name " type="text" name="Name">
                   </div>
                   <div class="col-md-12">
                      <input class="form_contril" placeholder="Phone Number" type="tel" name="Phone_Number" id="phone">
                      <span style="color: red; display: none;" id="error_msg">Invalid Phone Number</span>
                   </div>
                   <div class="col-md-12">
                      <input class="form_contril" placeholder="Email" type="email" name="Email">
                   </div>
                   <div class="col-md-12">
                      <textarea class="textarea" placeholder="Message" type="text" name="Message" id="message"></textarea>
                   </div>
                   <div class="col-sm-12">
                      <button type="submit" class="send_btn">Send</button>
                   </div>
                </div>
             </form>
          </div>
       </div>
    </div>
 </div>
 <!-- end talk -->
 <script>
   setTimeout(function(){
     const ho=document.getElementById('ho');
     if(ho){
       ho.style.display='none';
     }
   },5000)
 </script>
{% endblock content %}