<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
                <!-- for map of your location -->
                <div class="col-md-11 padding_0 mx-auto">
                    <div class="map-responsive" >
                       <h1 style="color: rgb(213, 96, 96); font-size: 30px;" class="text-center"><b>OUR LOCATION</b></h1>
     
     
                     
     
                       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3554.4810491532226!2d84.87632097573095!3d27.01496127658651!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39935440af3b59e3%3A0x5aa0411733213e6a!2sBirgunj%20GhantaGhar!5e0!3m2!1sen!2snp!4v1741076713992!5m2!1sen!2snp" width="1000px" height="620px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
     
                    </div>
                 </div>
</body>
</html>